# Credenciais para conexão com Oracle
ORACLE_USER=system
ORACLE_PASSWORD=senha_oracle
ORACLE_DATASOURCE=localhost:1521/XE

# Ambiente
ASPNETCORE_ENVIRONMENT=Development

# JWT Token Secret
JWT_TOKEN_SECRET=token_jwt